* {margin: 0; padding: 0; }
li {list-style: none; }
body {font-family: 'Nanum Gothic', sans-serif; width: 1200px; margin: 0 auto; }
            
div{
  display:block;
}
.header {
  margin: 50px auto;
  width: 1080px;
  height: 100%;
  font-size: 30px;
  text-align: center;
  font-family: 'Nanum Brush Script', cursive; }
.header .logo {
    float:left;
    position: relative;
}
.header .login{
  position: relative;
  float:right;
  font-family: '굴림', cursive;
  font-size: 20px;
}

.topMenu {width: 100%;
          margin-bottom: 20px;
          text-align: center; height: 40px; }
.topMenu:after {content: ""; display: block; clear: both; }
.menu01>li {float: left; width: 20%; line-height: 40px; }
.menu01 span {font-size: 20px; font-weight: bold; }
            
.dept01 {display: none; padding: 20px 0; border-bottom: 1px solid #ccc; }
            
#nop {float: none; }
            
.none:after {content: ""; display: block; clear: both; }
.login{

}



.searchbar{
  display: inline-block;
  }

  .search_input{
  position: relative;
  color: black;
  border: 1;
  border-color:gray;
  height: 50px;
  background-color: #e6e6e6;
  border-radius: 30px;
  display: inline-block;
  width: 450px;
  caret-color:transparent;
  line-height: 20px;
  font-size: 0.7em;
  font-family:'굴림'
  }

  .search_icon{
  height: 20px;
  width: 20px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:black;
  text-decoration:none;
  }